---
import FeaturedCollections from '@/components/sections/collections/FeaturedCollections.astro';
import MoreCollections from '@/components/sections/collections/MoreCollections.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
	<h2 class="text-6xl font-bold mb-8">Nuestras Colecciones</h2>
	<p class="mb-8 w-3/5 text-light-gray">Descubre nuestras colecciones curadas especialmente para ti. Cada colección cuenta una historia de elegancia, artesanía y lujo atemporal.</p>
	<FeaturedCollections />		
	<MoreCollections />		
</Layout>