---
import FUllProductCard from '@/components/cards/FullProductCard.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
	<h2 class="text-6xl font-bold mb-4">Catálogo Completo</h2>
	<p class="mb-8 w-3/5 text-light-gray">Explora nuestra colección exclusiva de joyería fina</p>
	<input type="text">
	<div class="flex gap-8">
		<div>
			<div>
				<p class="font-semibold">Categoría</p>
				<p class="text-light-gray">Todos</p>
				<p class="text-light-gray">Anillos</p>
				<p class="text-light-gray">Collares</p>
				<p class="text-light-gray">Pendientes</p>
				<p class="text-light-gray">Pulseras</p>
			</div>
			<div>
				<p class="font-semibold">Material</p>
				<p class="text-light-gray">Todos</p>
				<p class="text-light-gray">Oro Blanco</p>
				<p class="text-light-gray">Oro Rosa</p>
				<p class="text-light-gray">Oro amarillo</p>
				<p class="text-light-gray">Platino</p>
			</div>
			<div>
				<p class="font-semibold">Categoría</p>
				<p class="text-light-gray">Todos</p>
				<p class="text-light-gray">Menos de S/100</p>
				<p class="text-light-gray">S/100 - S/200</p>
				<p class="text-light-gray">S/200 - S/500</p>
				<p class="text-light-gray">Más de S/500</p>
			</div>
		</div>
		<div class="flex-1 flex flex-wrap gap-8">
		<div class="w-[30%]">
			<FUllProductCard 
				category="Anillos"
				name="Anillo de Diamante Clásico"
				description="Anillo solitario de diamante de 1.5 quilates en oro blanco 18k"
				material="Oro blanco"
				price=20.49
				image_url="./products/1.jpeg"
				url="/"
			/>
		</div>
		<div class="w-[30%]">
			<FUllProductCard 
				category="Anillos"
				name="Anillo de Diamante Clásico"
				description="Anillo solitario de diamante de 1.5 quilates en oro blanco 18k"
				material="Oro blanco"
				price=20.49
				image_url="./products/1.jpeg"
				url="/"
			/>
		</div>
		<div class="w-[30%]">
			<FUllProductCard 
				category="Anillos"
				name="Anillo de Diamante Clásico"
				description="Anillo solitario de diamante de 1.5 quilates en oro blanco 18k"
				material="Oro blanco"
				price=20.49
				image_url="./products/1.jpeg"
				url="/"
			/>
		</div>
		<div class="w-[30%]">
			<FUllProductCard 
				category="Anillos"
				name="Anillo de Diamante Clásico"
				description="Anillo solitario de diamante de 1.5 quilates en oro blanco 18k"
				material="Oro blanco"
				price=20.49
				image_url="./products/1.jpeg"
				url="/"
			/>
		</div>
		<div class="w-[30%]">
			<FUllProductCard 
				category="Anillos"
				name="Anillo de Diamante Clásico"
				description="Anillo solitario de diamante de 1.5 quilates en oro blanco 18k"
				material="Oro blanco"
				price=20.49
				image_url="./products/1.jpeg"
				url="/"
			/>
		</div>
		<div class="w-[30%]">
			<FUllProductCard 
				category="Anillos"
				name="Anillo de Diamante Clásico"
				description="Anillo solitario de diamante de 1.5 quilates en oro blanco 18k"
				material="Oro blanco"
				price=20.49
				image_url="./products/1.jpeg"
				url="/"
			/>
		</div>
		<div class="w-[30%]">
			<FUllProductCard 
				category="Anillos"
				name="Anillo de Diamante Clásico"
				description="Anillo solitario de diamante de 1.5 quilates en oro blanco 18k"
				material="Oro blanco"
				price=20.49
				image_url="./products/1.jpeg"
				url="/"
			/>
		</div>
	</div>
	</div>
</Layout>