<section id="hero">
    <div class="hero-container flex gap-16 items-center p-20">
        <div class="hero-container-1 w-1/2">
            <h2 class="text-6xl mb-4">Brillo <br><span class="text-gold-1">Eterno</span></h2>
            <p class="mb-8 w-3/5 text-light-gray">Colecciones de joyería fina, diseñadas con elegancia y precisión. Cada pieza es una obra de elegancia.</p>
            <div class="hero-buttons-container flex gap-4">
                <button class="w-1/2 px-4 py-3 rounded-lg border border-gold-1 bg-gold-1">Explorar catálogo</button>
                <button class="w-1/2 px-4 py-3 rounded-lg border border-gold-1">Ver Colecciones</button>
            </div>
        </div>
        <div class="hero-container-2 w-1/2">
            <div class="hero-image-container w-[90%]">
                <img
                class="rounded-4xl" 
                src="./images/hero-1.jpg" 
                alt="Imagen de portada"
                />
            </div>
        </div>
    </div>
</section>