<section id="hero">
    <div class="flex gap-16 items-center mb-20">
        <div class="w-1/2">
            <h1 class="text-6xl font-bold mb-4">Brillo <br><span class="text-gold-1">Eterno</span></h1>
            <p class="mb-8 w-3/5 text-light-gray">Colecciones de joyería fina, diseñadas con elegancia y precisión. Cada pieza es una obra de elegancia.</p>
            <div class="flex gap-4">
                <a href="/catalog" class="w-1/2 text-center px-4 py-3 rounded-lg border border-gold-1 bg-gold-1">Explorar catálogo</a>
                <a href="/collections" class="w-1/2 text-center px-4 py-3 rounded-lg border border-gold-1">Ver Colecciones</a>
            </div>
        </div>
        <div class="w-1/2">
            <div class="w-[90%]">
                <img
                class="rounded-4xl" 
                src="./images/hero-1.jpg" 
                alt="Imagen de portada"
                />
            </div>
        </div>
    </div>
</section>