---
import {Header} from '../components/sections/Header';
import Footer from '../components/sections/Footer.astro';
import "../styles/global.css";
const { title = "Joyería Siesquén" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale = 1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="author" content="Alvaro Siesquén">
		<meta name="keywords" content="joyeria, oro">
	</head>
	<body class="bg-pearl-1 font-heading">
		<Header client:load/>
		<slot/>
		<Footer />
	</body>
</html>