---
import CollectionCard from "@/components/cards/CollectionCard.astro"
---

<section id="featured-collections">
    <div class="mb-20">
        <h3 class="text-4xl font-bold mb-8">Colecciones Destacada</h3>
        <div class="flex gap-8">
            <div class="w-1/3">
                <CollectionCard 
                    name = "Colección Novias"
                    description = "Diseños exclusivos para el día más especial de tu vida. Anillos de compromiso y juegos de boda elegantes."
                    detail = "24 productos"
                    image_url = "./products/1.jpeg"
                    url = 'http://lamicenterperu.com/'
                />
            </div>
            <div class="w-1/3">
                <CollectionCard 
                    name = "Colección Novias"
                    description = "Diseños exclusivos para el día más especial de tu vida. Anillos de compromiso y juegos de boda elegantes."
                    detail = "24 productos"
                    image_url = "./products/3.jpeg"
                    url = 'http://lamicenterperu.com/'
                />
            </div>
            <div class="w-1/3">
                <CollectionCard 
                    name = "Colección Novias"
                    description = "Diseños exclusivos para el día más especial de tu vida. Anillos de compromiso y juegos de boda elegantes."
                    detail = "24 productos"
                    image_url = "./products/2.jpeg"
                    url = 'http://lamicenterperu.com/'
                />
            </div>
        </div>
    </div>
</section>